.Card {
  background-color: #0A0847;
  border: 1px solid #0A0847;
  height: 350px;
  margin: 10px;
  opacity: .8;
  padding: 0px 10px;
  width: 250px;
}

.active {
  background-color: purple;
}

.Card h1 {
  color: #feda4a;
}