.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  display: inline-block;
  border: 1px solid #2d2d2d;
  border-radius: 20px;
  font-size: 14px;
  width: 90px;
  padding: 10px 15px;
  margin: 10px;
}

.dark {
  background-color: purple;
  color: white;
}

.dark:hover {
  background-color: #9D2EAF;
  box-shadow: 2px 2px 5px purple;
}

.light {
  background-color: #CCC;
  color: #2d2d2d;
  font-weight: bold;
}

.light:hover {
  background-color: #FFF;
  box-shadow: 2px 2px 5px purple;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
